junit-results.xml
*.pyc
*.pyo
*.sh
*.so
*.tar.gz
*.log
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.tar.*
*.egg*
*.tmproj
*.png
*.dat
.DS_Store
auto_examples
build
coverage
.cache/
.pytest_cache/
__pycache__/
prof/
.ipynb_checkpoints

dist/
docs/_build/
docs/generated/
docs/auto_examples/
docs/auto_tutorials/
docs/modules/generated/
docs/sphinxext/cachedir
docs/source
pip-log.txt
.coverage*
tags
doc/coverages
doc/samples
cover
*.html

*.orig

# PyCharm
.idea/**

# sublime
*-e

# Visual Studio Code
.vscode
*.code-workspace

# Emacs
*.py#
*.rst#

.venv/
venv/
*.json
