include README.rst
include LICENSE.txt
include NOTICE.txt
recursive-include LICENSES *.txt

include braindecode/models/summary.csv

recursive-include docs *.ipynb *.rst conf.py Makefile
recursive-exclude docs *checkpoint.ipynb
