[tool.poetry]
name = "braindecode"
version = "0.7.0"
description = "A deep learning toolbox to decode raw time-domain EEG."
authors = ["Robin Tibor Schirrmeister"]
license = "BSD 3-Clause"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
numpy = "1.24"
pandas = "^1.5.2"
scipy = "1.10.0"
matplotlib = "^3.7.2"
h5py = "^3.9.0"
skorch = "<0.13"
joblib = "^1.3.2"
mne = "^1.5.0"
einops = "^0.6.1"


[tool.poetry.group.moabb.dependencies]
moabb = "^0.5.0" # until release is available

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
