name: Flake8 Codestyle Check

on: [pull_request]

jobs:
  lint:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Run flake8
        uses: julianwachholz/flake8-action@v2
        with:
          checkName: "Python Lint"
          path: "."
          config: ./tox.ini
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
