name: Check Whats News Changes

on:
  push:
    branches:
      - "master"
  pull_request:
    paths:
      - 'docs/whats_new.rst'
    branches:
      - '*' # all branches, including forks

jobs:
  check-whats-news:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check for file changes
        run: |
          changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }})
          if echo "$changed_files" | grep -q 'docs/whats_new.rst'; then
            echo "File path/to/your/file.ext has been changed in the PR."
          else
            echo "File Whats New has not been changed in the PR."
            echo "::error::File docs/whats_new.rst has not been changed in the PR."
            exit 1
          fi


